50  :Capacidade dos comboios
100  :Numero de Pessoas VIP que estão a frente na fila
100  :Numero de pessoas Normais que estão a frente na fila
0 :Probabilidade de desistência de uma pessoa VIP na fila 
00  :Probabilidade de desistência de uma pessoa Normal na fila
00  :Probabilidade de desistência de uma pessoa depois de ter bilhete  
0  :Probabilidade de desistência de uma pessoa depois de estar no metro 
0 :Probabilidade de ser VIP  
5 :Numero de Pessoas da simulação 
1   :Tempo de Viagem do comboio
1   :Tempo que o comboio espera na estação